<!DOCTYPE html>
<html>
  <head>
    <title>
      Search ADL!
    </title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/superagent/2.1.0/superagent.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.0-beta.5/vue.js" type="text/javascript"></script>
    <script src="/js/adlgui.js" type="text/javascript"></script>
    <meta charset="UTF8" />
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet" type="text/css" />
    <link href="/css/io.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
  <div id="app">
    <div class="head">
      Search ADL
    </div>
    <div class="query-under"></div>
    <span class="percent-loaded" id="progress" v-bind:class="{ 'fade-out': Search.loaded - Search.loading === 0 }">
      <b>
        [
          <b class="green-text">
            {{ ~~((Search.loaded / Search.loading) * 100) }}%
          </b>
        ]
      </b>
      <i>
        {{ (!Search.isLoading ? 'Loaded!' : 'Loading...') }}
      </i>
      <b>
        [<b class="green-text">
          {{ Search.loaded }}
        </b>/<b class="orange-text">
          {{ Search.loading }}
        </b>]
      </b>
    </span>
    <div class="query">
      <div class="filter-names">
        <input class="filter-name"  placeholder="Name" type="text" v-model="Name" />
      </div>
      <div class="filter-texts">
        <input class="filter-text"  placeholder="Contents" type="text" v-model="Query" />
      </div>
      <div class="timestamp main">
        {{ Search.oldestDate }} to {{ Search.date }}
      </div>
      <div class="timestamp add-backlog">
        <span class="range-text">Use last {{ backlog }} of 30 days</span><input class="slide-button" type="button" value=">" v-on:click="addBacklog" debounce="500" title="Increase number of days." />
      </div>
      <div class="timestamp set-visible-limit">
        <input type="text" class="limit" v-model="limit" maxlength="3" />
        <span>Limit results to:</span> 
      </div>
    </div>
    <div v-if="channel" class="timestamp sub-filters">
      <div class="sub-filters-head">Active Subfilters</div>
      <div class="sub-filter" v-if="channel" v-on:click="channel = ''" title="Remove channel filter.">
        <b>Channel</b>: #{{ channel }}
      </div>
    </div>
    <div class="timestamp entries">
      Number of entries: {{ Logs.length }}
    </div>
    <div class="results">
      <div class="result" transition="fade" v-for="val in filtered" v-if="Name || Query">
        <div class="timestamp">[{{ val.timestamp }}] <span class="add-subfilter"  v-on:click="setSubFilter('channel', val.file)" title="Filter this channel.">#{{ val.file }}</span></div>
        <div class="message">
          <b class="name">{{ val.character }}: </b>{{ val.message }}
        </div>
      </div>
    </div>
  </div>
  </body>
</html>
